<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>UTF8Filter</filter-name>
        <filter-class>Common.UTF8Filter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UTF8Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>controladorIni</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CompruebaLogin</servlet-name>
        <servlet-class>controlador.CompruebaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRecurso</servlet-name>
        <servlet-class>controlador.ControlRecurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlProveedor</servlet-name>
        <servlet-class>controlador.ControlProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTipo</servlet-name>
        <servlet-class>controlador.ControlTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlUbicacion</servlet-name>
        <servlet-class>controlador.ControlUbicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescargaArchivo</servlet-name>
        <servlet-class>controlador.DescargaArchivo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DescargaArchivo</servlet-name>
        <url-pattern>/DescargaArchivo</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>ControlEstado</servlet-name>
        <servlet-class>controlador.ControlEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlResguardo</servlet-name>
        <servlet-class>controlador.ControlResguardo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controladorIni</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompruebaLogin</servlet-name>
        <url-pattern>/CompruebaLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControlCuenta</servlet-name>
        <servlet-class>controlador.ControlCuenta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlCuenta</servlet-name>
        <url-pattern>/ControlCuenta</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControlSesion</servlet-name>
        <servlet-class>controlador.ControlSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlSesion</servlet-name>
        <url-pattern>/ControlSesion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControlFactura</servlet-name>
        <servlet-class>controlador.ControlFactura</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlFactura</servlet-name>
        <url-pattern>/ControlFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRecurso</servlet-name>
        <url-pattern>/ControlRecurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlProveedor</servlet-name>
        <url-pattern>/ControlProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTipo</servlet-name>
        <url-pattern>/ControlTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlUbicacion</servlet-name>
        <url-pattern>/ControlUbicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEstado</servlet-name>
        <url-pattern>/ControlEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlResguardo</servlet-name>
        <url-pattern>/ControlResguardo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
